@keyframes mymove {
  0% {
    background-color: #cfe8d5;
  }
  50% {
    background-color: #f5c6d6;
  }
  100% {
    background-color: #cfe8d5;
  }
  body {
  margin: 0;
  min-height: 100vh;
  animation: mymove 10s infinite alternate ease-in-out;
}

p {
  font-size: 18px;
}
