body {
  margin: 0;
  min-height: 100vh;
  animation: mymove 10s infinite alternate ease-in-out;
}

@keyframes mymove {
  from {
    background-color: #cfe8d5; /* pastel green */
  }
  to {
    background-color: #f5c6d6; /* pastel pink */
  }
    

h1, h2, h3 {
  color: #222;
}

p {
  font-size: 18px;
}
